<ion-row class="border">
  <ion-col class="raw-container">
    <ion-row class="raw-container">
      <ion-col class="raw-container bg">
        <br>
        <ion-img style="height: 100px; width: auto;" [src]="villager.url"></ion-img>
        <br>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label style="font-size: larger;">{{villager.name}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-label>{{villager.species}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center ">
      <ion-col>
        <ion-label>{{villager.gender}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
