<ion-split-pane contentId="main">
  <ion-menu contentId="main">
    <ion-header class="bg-green ion-no-padding">
      <ion-toolbar>
        <ion-item lines="none"> 
          <ion-avatar slot="start">
            <img src="assets/img/placeholder.png"/>
          </ion-avatar>
          <ion-title class="ion-no-padding">Charlie</ion-title>
        </ion-item>
      </ion-toolbar>
      
    </ion-header>
    <ion-content class="bg-beige">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item *ngFor="let o of menuOptions" routerDirection="forward" [routerLink]="o.route" (click)="toggleMenu()">
              <ion-icon [name]="o.icon" slot="start"></ion-icon>
              <ion-label>{{o.name}}</ion-label>
            </ion-item>
            <ion-item button (click)="logout()">
              <ion-icon name="log-out-outline" slot="start"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>
